<nav>
  <a routerLink="lessons" routerLinkActive="active" ariaCurrentWhenActive="page">Lessons</a>
  <a routerLink="repetitions" routerLinkActive="active" ariaCurrentWhenActive="page">Repetitions</a>
  <a routerLink="games" routerLinkActive="active" ariaCurrentWhenActive="page">Games</a>
  <a routerLink="forum" routerLinkActive="active" ariaCurrentWhenActive="page">Forum</a>
  <a routerLink="profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
</nav>
<router-outlet></router-outlet>
